{% extends "modelo_base.html" %}
{%block conteudo%}
<div class="produtos">

    <div class="produto-1" onclick="window.location.href='/produto1'" >
        <img class="produto" src="https://static.ifood-static.com.br/image/upload/t_medium/pratos/726454eb-4c79-4264-b48c-e5bcc81bce45/202411141552_4260_i.jpg" alt="café melita">
        <p>Brigadeiro de ninho</p>
        <a href="/produto1">Detalhes</a>
    </div>

    <div class="produto-2" onclick="window.location.href='/produto2'">
        <img class="produto" src="https://static.ifood-static.com.br/image/upload/t_medium/pratos/726454eb-4c79-4264-b48c-e5bcc81bce45/202411141552_2U25_i.jpg" alt="">
        <p>Brigadeiro de Chocolate</p>
        <a href="/produto2">Detalhes</a>
    </div>

    <div class="produto-3" onclick="window.location.href='/produto3'">
        <img class="produto" src="https://static.ifood-static.com.br/image/upload/t_medium/pratos/726454eb-4c79-4264-b48c-e5bcc81bce45/202411141552_FF71_i.jpg" alt="">
        <p>Brigadeiro de Beijinho</p>
        <a href="/produto3">Detalhes</a>

    </div>

    <div class="produto-4" onclick="window.location.href='/produto4'">
        <img class="produto" src="https://static.ifood-static.com.br/image/upload/t_medium/pratos/726454eb-4c79-4264-b48c-e5bcc81bce45/202411141551_37VF_i.jpg" alt="">
        <p>Brigadeiro de Uvas</p>
        <a href="/produto4">Detalhes</a>

    </div>
    
</div>


{%endblock%}