{% extends "modelo_base.html" %}
{%block conteudo%}
<div class="divisaoproduto1">
    <div class="divimgproduto1">
        <img class="imgproduto1" src="https://static.ifood-static.com.br/image/upload/t_medium/pratos/726454eb-4c79-4264-b48c-e5bcc81bce45/202411141552_FF71_i.jpg">
    </div >

    <div class="divtextoproduto1">
        <p class="textoproduto1">
            Prove o encanto do nosso Beijinho de Coco! 🥥 Uma explosão de sabor doce e delicado, feito com leite condensado cremoso e coco ralado, trazendo a textura perfeita e aquele gostinho irresistível de casa. Cada unidade é cuidadosamente enrolada e finalizada com açúcar cristal ou coco fresco, e decorada com um cravo para dar um toque especial. Perfeito para adoçar suas festas ou qualquer momento do dia. Não perca a chance de se deliciar — peça agora e sinta o sabor do carinho em cada mordida! ✨💖        
        </p>
        <div class="divvalorproduto1">
            <p>R$ 1,99</p>
        </div>
    </div>
</div>

{%endblock%}