{% extends "modelo_base.html" %}
{%block conteudo%}
<div class="divisaoproduto1">
    <div class="divimgproduto1">
        <img class="imgproduto1" src="https://static.ifood-static.com.br/image/upload/t_medium/pratos/726454eb-4c79-4264-b48c-e5bcc81bce45/202411141551_37VF_i.jpg" alt="café melita">
    </div >

    <div class="divtextoproduto1">
        <p class="textoproduto1">
            Surpreenda-se com o sabor refrescante do Brigadeiro de Uva! 🍇 Uma combinação deliciosa de doce e fruta, onde o brigadeiro branco cremoso envolve uma uva fresca e suculenta, criando uma explosão de sabor a cada mordida. Coberto com açúcar ou coco ralado, ele é o equilíbrio perfeito entre o azedinho da uva e o doce do brigadeiro. Ideal para festas, presentes ou para aquele momento especial do dia. Peça já e experimente um doce diferente, fresco e irresistível! ✨💜
        </p>
        <div class="divvalorproduto1">
            <p>R$ 1,99</p>
        </div>
    </div>
</div>

{%endblock%}